@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"].</h2>


<h2>Our History</h2>
<ul>
	<li>Fish & Chips</li>
	<li>Vegetables </li>
	<li>Wine & Beer</li>
</ul>

<h2>Our Mission</h2>
<ul>
	<li>Fish & Chips</li>
	<li>Vegetables </li>
	<li>Wine & Beer</li>
</ul>

<h2>Our Restaurants </h2>
<ul>
	<li>Fish & Chips</li>
	<li>Vegetables </li>
	<li>Wine & Beer</li>
</ul>

<h2>Our Food</h2>
<ul>
	<li>Fish & Chips</li>
	<li>Vegetables </li>
	<li>Wine & Beer</li>
</ul>

<h2>Our Culture</h2>
<ul>
	<li>Fish & Chips</li>
	<li>Vegetables </li>
	<li>Wine & Beer</li>
</ul>
	
